 <style>
        h1 {
        color: purple;
        }
    </style>
    <h1>Здравейте момичета, добре дошли в машината за гласуване на нашияТ event manager!</h1>
<img src="<%= @my_image %>">
<p>Къде да вечеряме?</p>
<form action="/cast">
  <ul class="unstyled">
    <li>
      <label class="radio">
        <input type="radio" name="vote" value="Щастливеца">
        Щастливеца
      </label>
    </li>
    <li>
      <label class="radio">
        <input type="radio" name="vote" value="The little things">
        The little things
      </label>
    </li>
    <li>
      <label class="radio">
        <input type="radio" name="vote" value="онова място в пресечка на ул.Оборище">
        онова място в пресечка на ул.Оборище
      </label>
    </li>
    <li>
      <label class="radio">
        <input type="radio" name="vote" value="Слънце Луна">
        Слънце Луна
      </label>
    </li>
    <li>
      <label class="radio">
        <input type="radio" name="vote" value="Soul kitchen">
        Soul kitchen
      </label>
    </li>
  </ul>
  <button type="submit" class="btn btn-primary">Гласувай!</button>
</form>
<p>Или <a href="https://foursquare.com/">потърсете и изберете още места</a>.</p>
 <p>
        Очакваме ви! :)
        <p>RSPV: бални рокли, гол гръб, добро настроение....</p>
    </p>

    <a href="http://www.nipponham.co.jp/files/topics/18678_ext_06_0.jpg" target="_blank" title="miladies fun">
        <img src="https://img.clipartfest.com/abf313dc6c7e7a0bd83318872e848459_game-night-ladies-night-out-free-clipart-images-girls-night-out_236-170.jpeg" width="400" alt="A photo of a miladies fun">
    </a>