  <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Машина за гласуване</title>
    </head>
    <body>
        <style>
            h1 {
            color: red;
            }
        </style>
        <h1>Здравейте момичета, добре дошли в машината за гласуване на нашияТ event manager!</h1>
        <p> Изберете, къде да се видим следващия път?</p>

        <ul>
            <li>Щастливеца</li>
            <li>The little things</li>
            <li>онова място в пресечка на ул.Оборище</li>
            <li>Слънце луна</li>
            <li>Soul kitchen</li>
        </ul>

        <form>
            <p>
                Вашият избор е:
                <input type="text" name="vote">
                <button type="submit">Гласувай!</button>
            </p>
        </form>

        <p>Или <a href="https://foursquare.com/">потърсете още места</a>.</p>

        <p>
            Очакваме ви! :)
            <li>RSPV: бални рокли, гол гръб, добро настроение....</li>
        </p>

        <a href="http://www.nipponham.co.jp/files/topics/18678_ext_06_0.jpg" target="_blank" title="miladies fun">
            <img src="https://img.clipartfest.com/abf313dc6c7e7a0bd83318872e848459_game-night-ladies-night-out-free-clipart-images-girls-night-out_236-170.jpeg" width="400" alt="A photo of a miladies fun">
        </a>
    </body>
</html>